:root {
  --background-primary: rgba(0, 83, 48, 1);
  --background-secondary: rgba(255, 255, 255, 1);
  --background-var-a: rgba(250, 241, 165, 1);
  --background-var-b: rgba(191, 230, 206, 1);
  --background-var-c: rgba(214, 213, 213, 1);
  --text-h1: rgba(250, 241, 165, 1);
  --text-var-a: rgba(0, 83, 48, 1);
  --text-var-b: rgba(3, 3, 3, 1);
  --text-var-c: rgba(255, 255, 255, 1);
  --text-hover-a: rgba(250, 241, 165, 1);
  --text-hover-b: rgba(1, 161, 94, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Cairo:wght@200;300;400;500;700;800;900&family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,500&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,700;1,600&display=swap');

.main--contacts{
  margin: 70px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--section__contacts{
  max-width: 475px;
  min-width: 320px;
  padding: 40px 0 40px 0;
  display: flex;
}

.main--text__contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.text--headline__contacts {
  font-size: 28px;
  color: var(--text-var-b);
  line-height: 32px;
  padding: 0 0 32px 0;
}

.text--contacts {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding-left: 20px;
  
}

.text--subheadline2__contacts {
  font-size: 24px;
  color: var(--text-var-a);
  line-height: 36px;
  text-align: left;
}

.contact {
  line-height: 36px;
  text-align: left;
  margin-left: 10px;
}

@media (min-width:800px) {

  .main--contacts{
    margin: 90px 0 0 70px;
  }

  .main--section__contacts{
    max-width: 650px;
    min-width: 650px;
  }

  .contact {
    margin-left: 20px;
  }
  .img--contacts__denisa{
    background-image: url(./img/denisa1.jpeg);
  }
  
  .img--contacts__tomas{
    background-image: url(./img/tomas_kontakt.jpeg);
  }
  
  .img--contacts{
    height: 300px;
    width: 300px;
    background-size: cover;
  }

}

@media (min-width:1024px) {
  .main--section__contacts{
      max-width: 1024px;
      min-width: 1024px;
  }

  .img--contacts__denisa{
    background-image: url(./img/denisa1.jpeg);
  }
  
  .img--contacts__tomas{
    background-image: url(./img/tomas_kontakt.jpeg);
  }
  
  .img--contacts{
    height: 300px;
    width: 300px;
    background-size: cover;
  }

}