.main--contacts{
  margin: 120px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 400px 0
}

.main--section__contacts{
  max-width: 475px;
  min-width: 320px;
  padding: 40px 0 40px 0;
  display: flex;
}

.main--text__contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.text--headline__contacts {
  font-size: 28px;
  color: var(--text-var-b);
  line-height: 32px;
  padding: 0 0 32px 0;
}

.text--contacts {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding-left: 20px;
  
}

.text--subheadline2__contacts {
  font-size: 24px;
  color: var(--text-var-a);
  line-height: 36px;
  text-align: left;
}

.contact {
  line-height: 36px;
  text-align: left;
  margin-left: 10px;
  text-decoration: none;
}

.contact-link{
  color: var(--text-var-a);
}

.contact-link:hover{
  color: var(--text-hover-b);
}

@media (min-width:800px) {

  .main--contacts{
    padding: 0 0 250px 0;
  }

  .main--section__contacts{
    max-width: 650px;
    min-width: 650px;
  }

  .contact {
    margin-left: 20px;
  }
  .img--contacts__denisa{
    background-image: url(./img/denisa1.jpeg);
    background-position: center;
  }
  
  .img--contacts__tomas{
    background-image: url(./img/tomas_kontakt.jpeg);
  }
  
  .img--contacts{
    height: 300px;
    width: 300px;
    background-size: cover;
  }

}

@media (min-width:1024px) {
  .main--section__contacts{
      max-width: 1024px;
      min-width: 1024px;
  }

}