:root {
  --background-primary: rgba(0, 83, 48, 1);
  --background-secondary: rgba(255, 255, 255, 1);
  --background-var-a: rgba(250, 241, 165, 1);
  --background-var-b: rgba(191, 230, 206, 1);
  --background-var-c: rgba(214, 213, 213, 1);
  --text-h1: rgb(250, 241, 165);
  --text-var-a: rgba(0, 83, 48, 1);
  --text-var-b: rgba(3, 3, 3, 1);
  --text-var-c: rgba(255, 255, 255, 1);
  --text-hover-a: rgba(250, 241, 165, 1);
  --text-hover-b: rgba(1, 161, 94, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Cairo:wght@200;300;400;500;700;800;900&family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,500&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,700;1,600&display=swap');

.main--section__map {
  padding: 70px 0px 270px 0px;
}

.marker-button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  outline: none;
  cursor: pointer;
}

.map-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 30px 0;
  flex-wrap: wrap;
}

.btn-all,
.btn-veterina,
.btn-nonstop,
.btn-zachranka,
.btn-cvicak,
.btn-hotel {
  min-width: 100px;
  padding: 0 10px 0 10px;
  margin: 5px;
  border: none;
  height: 36px;
  border-radius: 3px;
  font-size: 16px;
}

.btn-veterina {
  background-color: #004924;
  filter: saturate(60%) brightness(200%);
  color: white;
  opacity: 0.8
}

.btn-cvicak {
  background-color: #0058a1;
  filter: saturate(70%) brightness(160%);
  color: white;
  opacity: 0.8
}

.btn-hotel {
  background-color: #ef51c5;
  filter: saturate(70%) brightness(160%);
  color: white;
  opacity: 0.8
}

.btn-nonstop {
  background-color: #f03933;
  filter: saturate(60%) brightness(160%);
  color: white;
  opacity: 0.8
}

.btn-zachranka {
  background-color: rgb(29, 29, 29);
  filter: saturate(60%) brightness(200%);
  color: white;
  opacity: 0.8
}

.isActive {
  filter: saturate(100%) brightness(100%);
  opacity: 1;
}

.isActive:hover{
  box-shadow: 2px 2px 2px rgba(63, 63, 63, 0.2);
}

.mapa{
  filter: grayscale(100%) contrast(120%);
  margin: 0 0 50px 0;
}

.type-cvicak {
  filter: invert(21%) sepia(86%) saturate(1992%) hue-rotate(190deg) brightness(94%) contrast(103%)
}
.type-hotel {
  filter: invert(60%) sepia(66%) saturate(3345%) hue-rotate(283deg)
    brightness(95%) contrast(82%);
}

.type-nonstop {
  filter: invert(33%) sepia(72%) saturate(1578%) hue-rotate(337deg)
    brightness(93%) contrast(86%);
}

.type-veterina {
  filter: invert(16%) sepia(64%) saturate(1990%) hue-rotate(131deg)
    brightness(114%) contrast(102%);
}

.popup{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.popup-name,
.popup-navigation{
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-var-a);
}

.popup-name:hover,
.popup-navigation:hover{
  color: var(--text-hover-b);
  text-decoration: underline;
}

.popup-description{
  padding: 10px 0 10px 0;
}

.control{
  position: absolute;
  top: 20px;
  left: 20px;
}
@media (min-width: 1024px) {
  .main--section__map {
    padding: 90px 0 200px 0;
  }
}
