:root {
  --background-primary: rgba(0, 83, 48, 1);
  --background-secondary: rgba(255, 255, 255, 1);
  --background-var-a: rgba(250, 241, 165, 1);
  --background-var-b: rgba(191, 230, 206, 1);
  --background-var-c: rgba(214, 213, 213, 1);
  --text-h1: rgba(250, 241, 165, 1);
  --text-var-a: rgba(0, 83, 48, 1);
  --text-var-b: rgba(3, 3, 3, 1);
  --text-var-c: rgba(255, 255, 255, 1);
  --text-hover-a: rgba(250, 241, 165, 1);
  --text-hover-b: rgba(1, 161, 94, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Cairo:wght@200;300;400;500;700;800;900&family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,500&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,700;1,600&display=swap');

.main--section__map {
  padding: 70px 0px 50px 0px;
}

.marker-button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  outline: none;
  cursor: pointer;
}

.map-btns{
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0 30px 0;
  flex-wrap: wrap;
}

.btn-all,
.btn-veterina,
.btn-nonstop,
.btn-zachranka,
.btn-cvicak,
.btn-hotel{
  width: 100px;
  margin: 5px;
  border: none;
  height: 36px;
  border-radius: 3px;
}

.btn-veterina{
 background-color: #004924;
 color: white;
}

.btn-cvicak{
  background-color: #00a6da;
  color: white;
}

.btn-hotel{
  background-color: #ef51c5;
  color: white;
}

.btn-nonstop{
  background-color: #f03933;
  color: white;
}

.btn-zachranka{
  background-color: black;
  color: white
}

.isActive {
  font-weight: bold;
  border: 2px solid black;
}
.type-cvicak {
  filter: invert(59%) sepia(42%) saturate(7354%) hue-rotate(163deg)
    brightness(97%) contrast(101%);
}
.type-hotel {
  filter: invert(60%) sepia(66%) saturate(3345%) hue-rotate(283deg)
    brightness(95%) contrast(82%);
}

.type-nonstop {
  filter: invert(33%) sepia(72%) saturate(1578%) hue-rotate(337deg)
    brightness(93%) contrast(86%);
}

.type-veterina {
  filter: invert(16%) sepia(64%) saturate(1990%) hue-rotate(131deg)
    brightness(94%) contrast(102%);
}

@media (min-width:1024px) {
  .main--section__map {
    padding: 90px 0 50px 0;
  }

}