@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Cairo:wght@200;300;400;500;700;800;900&family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,500&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,700;1,600&display=swap');
 
/* ZÁKLADNÍ STYLY */

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text);
  font-family: 'Exo 2'
}


