.footer{
    width: 100vw;
    background-color: var(--background-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.bottombar {
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    color: var(--text-var-c);
    align-items: center;
    font-weight: 100;
}

.footer-trainers,
.footer-location,
.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 445px;
    padding: 10px;
}

ul {
    list-style-type: none;
}

.footer-link{
    text-decoration: none;
    font-weight: 500;
}

.footer-link:hover {
    color: var(--text-hover-a);
}

@media (min-width:1024px) {
    .bottombar{
        flex-direction: row;
        width: 1024px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 18px;
    }

    .footer-contacts,
    .footer-location,
    .footer-trainers{
        padding:20px
    }

}
