:root {
    --background-primary: rgba(0, 83, 48, 1);
    --background-secondary: rgba(255, 255, 255, 1);
    --background-var-a: rgba(250, 241, 165, 1);
    --background-var-b: rgba(191, 230, 206, 1);
    --background-var-c: rgba(214, 213, 213, 1);
    --text-h1: rgba(250, 241, 165, 1);
    --text-var-a: rgba(0, 83, 48, 1);
    --text-var-b: rgba(3, 3, 3, 1);
    --text-var-c: rgba(255, 255, 255, 1);
    --text-hover-a: rgba(250, 241, 165, 1);
    --text-hover-b: rgba(1, 161, 94, 1);
  }

@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Cairo:wght@200;300;400;500;700;800;900&family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,500&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,700;1,600&display=swap');

.main--section__education{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.container--article__education{
    padding: 15px;
    padding-top: 65px;
    max-width: 475px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
}

.article--text__education{
    margin-top: 20px;
    color: var(--text-var-b);
    border-left: 0.5px solid var(--background-primary);
    padding-left: 15px;
}

.text--head__education{
    display: flex;
    justify-content: space-between;
}

.text--headline__education{
    font-size: 32px;
    color: var(--text-var-b);
    line-height: 36px;
    padding: 0 0 24px 0;
}

.text--subheadline2__education{
    font-size: 24px;
    color: var(--text-var-a);
    line-height: 28px;
    padding:0px 0 16px 0;
}

.text--subheadline3__education{
    font-size: 16px;
    font-weight: bold;
    color: var(--text-var-a);
    padding-bottom: 20px;
}

p {
    padding-bottom: 16px;
}

.text--highlight__education{
    border: 0.5px solid var(--background-primary);
    background-color: var(--background-var-b);
    padding: 5px;
    margin-bottom: 16px;
}

.gallery--list__education{
    display: none;
}

.article--img{
    height: 300px;
    width: 100%;
    background-size: cover;
    margin-bottom: 16px;
}

.education--img__1narrow{
    background-image: url(./img/pubertak.jpeg);
    background-position: top left 40%;
}
.education--img__2narrow{
    background-image: url(./img/provinile_stene.jpeg);
    background-position: top 20% left 20%;
}
.education--img__3narrow{
    background-image: url(./img/hravy_pes.jpeg);
    background-position: top 35% left 20%;
}

.text--list__education{
    padding-bottom: 20px;
}

.list--item__education{
    padding: 16px 0 0 0;
}

.link--text__education{
    color: var(--text-var-a);
    text-decoration: none;

}

.link--text__education:hover{
    font-size: 16px;
    color: var(--text-hover-b);
}


@media (min-width:800px) {

    .container--article__education{
        max-width: 650px;
    }
    
    .article--gallery__education{
        padding: 0 20px 20px 0;
    }

    .gallery--img{
        height: 200px;
        width: 30vw;
        min-width: 125px;
        max-width: 175px;
        background-size: cover;
        margin-top: 20px;
    }

    .education--img__1{
        background-image: url(./img/pubertak.jpeg);
        background-position: top right 30%;
    }

    .education--img__2{
        background-image: url(./img/provinile_stene.jpeg);
        background-position: top 30% left 20%;
    }

    .education--img__3{
        background-image: url(./img/hravy_pes.jpeg);
        background-position: top 50% left 10%;
    }

   

    .education--img__1narrow,
    .education--img__2narrow,
    .education--img__3narrow{
        display: none;
    }

    .gallery--list__education{
        display:inline;
        padding: 20px
    }
    
    .link--gallery__education{
        color: var(--text-var-a);
        line-height: 24px;
        padding: 16px 0 0 0;
        text-decoration: none;
    }
    
    .link--gallery__education:hover{
        color: var(--text-hover-b);
    }

    .text--list__education{
        display: none;
    }

}

@media (min-width:1024px) {

    .container--article__education{
        max-width: 1024px;
    }

    .gallery--img{
        height: 220px;
        max-width: 350px;
        
    }

}